/*渐变样式--Begin--*/
/*.liner {*/
/*background: -webkit-linear-gradient(#57baa4, #9024dd);*/
/*background: -moz-linear-gradient(#57baa4, #9024dd);*/
/*background: -o-linear-gradient(#57baa4, #9024dd);*/

/*height: 100%;*/
/*width: 100%;*/
/*}*/
/*渐变样式--End--*/
/*FSS遮罩--Begin--*/
/*.masonry-brick {*/
/*width: 144px;*/
/*margin: 10px;*/
/*float: left;*/
/*}*/

/*#masonryContainer {*/
/*margin-top: 90px;*/
/*margin-left: 20px;*/
/*}*/
/*.vignette {*/
/*background-image: -webkit-radial-gradient(50% 50%, ellipse, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);*/
/*background-image: radial-gradient(50% 50%, ellipse, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);*/
/*}*/

/*.overlay {*/
/*pointer-events: none;*/
/*position: absolute;*/
/*height: 100%;*/
/*width: 100%;*/
/*left: 0;*/
/*top: 0;*/
/*}*/
/*FSS遮罩--End--*/
/*.menu-img {*/
/*-webkit-transition-property: opacity;*/
/*-moz-transition-property: opacity;*/
/*-o-transition-property: opacity;*/
/*transition-property: opacity;*/

/*-webkit-transition-duration: 0.5s;*/
/*-moz-transition-duration: 0.5s;*/
/*-o-transition-duration: 0.5s;*/
/*transition-duration: 0.5s;*/

/*background-color: #9024dd;*/
/*}*/

/*.menu-img:hover {*/
/*opacity: 0.8;*/
/*}*/

/* Styles for signup panels */
.center.row {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 500px;
}

.signup-panel {
    padding: 15px;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

.signup-panel .button {
    margin: 0 auto;
    display: block;
}

.rows-panel {
    padding: 10px 15px;
}

.task-info {
    padding: 5px 0;
    background-color: #ffffff;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;;
    margin-bottom: 0.5em;
}

.task-row-report {
    /*background-color: #f3ff65;*/
}

.task-row {
    /*background-color: #008CBA;*/
}

.alert-wrapper {
    height: 35px;
}

.goBackIconButton {
    color: #ffffff;
    font-size: 1.8em;
}

#btn_goToCheck {
    width: 100%;
    height: 3em;
    bottom: 0;
    position: absolute;
    background-color: #008CBA;
    color: #ffffff;
}

/*panel组件*/
.kmmes-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)

}

.panel-success {
    border-color: #bce8f1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-success > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #7F7D7D;
    font-weight: bold;
}

.table-history {
    border: none;
    width: 100%;
}

.report-area {
    margin: 0;
}

.kmmes-pagination a, .kmmes-pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
}

.kmmes-pagination .current {
    background: #26B;
    color: #fff;
    border: 1px solid #AAE;
}

.kmmes-pagination .current .prev, .kmmes-pagination .current .next {
    color: #999;
    border-color: #999;
    background: #fff;
}