.menu-btn{
    background-color: #1a1a1a;
    font-weight:bold;
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif';
    text-align: center;
    color:#003f54;
}
.menu-btn .verify{
    background: url(../img/menu-verify.jpg) no-repeat;
}
.menu-btn .enchase{
    background: url(../img/menu-enchase.jpg) no-repeat;
}
.vignette {
    background-image: -webkit-radial-gradient(50% 50%, ellipse, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
    background-image: radial-gradient(50% 50%, ellipse, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
}
.overlay {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.container {
    position: absolute;
    height: 100%;
    width: 100%;
}
.wrapper {
    margin: -280px -180px;
    text-align: center;
    position: absolute;
    height: 560px;
    width: 360px;
    left: 50%;
    top: 50%;
}

.columns{
    padding: 0 !important;
}



